body {
    font-family: 'Arial', sans-serif;
}

h1, h2 {
    font-weight: bold;
}

table th, table td {
    vertical-align: middle !important;
}

.qty {
    text-align: center;
}

#buy-btn {
    width: 150px;
}

#orders ul {
    padding-left: 0;
}

#orders li {
    margin-bottom: 10px;
}

.list-group-item {
    background-color: #f9f9f9;
}
